

#navbar{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    border: 1px solid red;
    width: 100%;  
}

#form1{
    border: 1px solid red;
    margin-top: 20px;
    /* margin: auto; */
}



